<template>
    <main>
        <h1 class="text-6xl tracking-loose mb-8">
            Page not found
        </h1>

        <p class="lg leading-loose text-lg mb-4">
            The page you were looking for could not be found!
        </p>

        <navigation></navigation>
    </main>
</template>
<script lang="ts">
    import { Component, Vue } from 'vue-property-decorator';
    import Navigation from "@/js/views/components/Navigation.vue";

    @Component({
        components: {
            Navigation
        }
    })

    export default class About extends Vue {

    }

</script>
