<template>
    <main>
        <h1 class="text-6xl tracking-loose mb-8">
            About
        </h1>

        <p class="lg leading-loose text-lg mb-4">
            This is the about page, resolved using Vue Router.
            <br>
            Counter is still at {{ currentCount }}!
        </p>


        <navigation></navigation>
    </main>
</template>
<script lang="ts">
  import { Component, Vue } from 'vue-property-decorator';
  import Navigation from "@/js/views/components/Navigation.vue";

  import { namespace } from 'vuex-class'
  const counter = namespace('counter');

  @Component({
    components: {
      Navigation
    }
  })

  export default class About extends Vue {

    @counter.Getter
    public currentCount!: number;
  }

</script>
