<template>
    <main>
        <h1 class="text-6xl tracking-loose mb-8">
            Laravel
        </h1>

        <p class="lg leading-loose text-lg mb-4">
            You're now running the Vue, Tailwind, TypeScript boilerplate!
            <br>
            Vuex is reporting count as {{ currentCount }}.
        </p>

        <div class="mb-3">
            <button class="border rounded px-3 py-2" @click.prevent="increment">Increment count</button>
        </div>

        <navigation :is-home="true"></navigation>
    </main>
</template>
<script lang="ts">
  import { Vue, Component } from 'vue-property-decorator';
  import Navigation from "@/js/views/components/Navigation.vue";

  import { namespace } from 'vuex-class'
  const counter = namespace('counter');

  @Component({
    components: {
      Navigation
    }
  })
  export default class Home extends Vue {
    private placeholderString: String = 'This is the placeholder...';

    @counter.Getter
    public currentCount!: number;

    @counter.Action
    public increment!: () => void
  }
</script>
