<template>
    <ul>
        <li>
            <router-link to="/" v-if="showHome">Home</router-link>
        </li>
        <li>
            <router-link to="/about" v-if="isHome">About</router-link>
        </li>
    </ul>
</template>
<script lang="ts">
  import {Component, Prop, Vue} from 'vue-property-decorator';

  @Component
  export default class Navigation extends Vue {
    @Prop({default: false}) readonly isHome!: boolean;

    // create computed property...
    get showHome(): boolean {
      return !this.isHome;
    }
  }
</script>
