<template>
    <div class="flex h-full items-center justify-center font-nunito">
        <div class="w-full px-4 max-w-5xl">
            <div class="p-4 py-6 text-center text-gray-700">
                <router-view />
            </div>
        </div>
    </div>
</template>
<script lang="ts">
  import { Component, Vue } from 'vue-property-decorator';

  @Component
  export default class Home extends Vue {
    //
  }
</script>
